<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="PolySharp" version="1.15.0" manuallyInstalled="true" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.0" />
  <package id="ZLinq" version="0.7.1" manuallyInstalled="true" />
  <package id="ZLinq.FileSystem" version="0.7.1" manuallyInstalled="true" />
  <package id="ZLinq.Json" version="0.7.1" manuallyInstalled="true" />
</packages>